venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
*.env
*.sqlite3
.DS_Store
.idea/
.vscode/


example/

"3 спринт. Проектная работа/"

"Описание проекта и чек-лист.pdf"

.github/


extract_pdf_text.py 