:root.theme-light {
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --page-bg-color: #fff1f7;
  --text-color: #353430;
  --answer-text-color: #353430;
  --button-color: #353430;
  --border-color-opacity: rgba(50, 49, 45, 0.4);
  --background-image: url("../images/cover-image-light.png");
  --decoration-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --page-bg-color: #fff1f7;
    --text-color: #353430;
    --answer-text-color: #353430;
    --button-color: #353430;
    --border-color-opacity: rgba(50, 49, 45, 0.4);
    --background-image: url("../images/cover-image-light.png");
    --decoration-color: #353430;
  }

  .rec__empty::before,
  .rec__empty::after {
    display: none;
  }
}

.theme-dark .rec__empty::before,
.theme-dark .rec__empty::after {
  display: inline-block;
}
