/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-page: none;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --background-color: #000028;
  --title-color: #000028;
  --slogan-color: #db00ff;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --text-color: #f1b2ce;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
