/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-page: none;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --background-color: #000028;
  --title-color: #000028;
  --slogan-color: #db00ff;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --text-color: #f1b2ce;
}

.theme-dark .page {
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-dark .header__title {
  color: var(--slogan-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.theme-dark .footer__title {
  color: var(--slogan-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

.theme-dark .title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}

.theme-dark .text-link {
  color: var(--accent-color);
  text-decoration: none;
}

.theme-dark .text-link:hover {
  color: var(--accent-color-hover);
}

.theme-dark .header__theme-menu-button {
  color: var(--text-color);
}

.theme-dark .header__theme-menu-button:hover {
  border-color: var(--accent-color-hover);
}

.theme-dark .header__theme-menu-button:focus {
  border-color: var(--accent-color);
}

.theme-dark .header__theme-menu-button_active {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.theme-dark .decorated-zone::before {
  border-color: var(--accent-color);
}

.theme-dark .decorated-zone::after {
  border-color: var(--accent-color);
}

.theme-dark .rec {
  color: var(--accent-color);
}

.theme-dark .rec::before {
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* Смена кавера для темной темы */
.theme-dark .header__cover-image {
  content: url('../images/cover-image-dark.png');
}
