/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-page: none;
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --title-color: #353430;
  --slogan-color: #ffc2e6;
  --accent-color-hover: rgb(50, 49, 45, 0.4);
  --text-color: #353430;
}

.theme-light .page {
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-light .header__title {
  color: var(--slogan-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.theme-light .footer__title {
  color: var(--slogan-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

.theme-light .title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}

.theme-light .text-link {
  color: var(--accent-color);
  text-decoration: none;
}

.theme-light .text-link:hover {
  color: var(--accent-color-hover);
}

.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--accent-color-hover);
}

.theme-light .header__theme-menu-button:focus {
  border-color: var(--accent-color);
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.theme-light .decorated-zone::before {
  border-color: var(--accent-color);
}

.theme-light .decorated-zone::after {
  border-color: var(--accent-color);
}

.theme-light .rec {
  display: none;
}

/* Смена кавера для светлой темы */
.theme-light .header__cover-image {
  content: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root {
    --background-page: none;
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --title-color: #353430;
    --slogan-color: #ffc2e6;
    --accent-color-hover: rgb(50, 49, 45, 0.4);
    --text-color: #353430;
  }

  .theme-auto .rec {
    display: none;
  }
  
  .theme-auto .header__cover-image {
    content: url('../images/cover-image-light.png');
  }
}

@media (prefers-color-scheme: dark) {
  .theme-auto .header__cover-image {
    content: url('../images/cover-image-dark.png');
  }
}
