/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-txt-color: #ff0070;
  --txt-color: #000028;
  --txt-cards-clr: #f1b2ce;
  --hdr-txt-clr: #db00ff;
  --hover-brd-clr: rgba(255, 0, 112, 0.4);
  --bg-img: url(../images/cover-image-dark.png);
  --txt-tlt-clr: #ff0070;
  --txt-shadow: #ff0070;
  --point-clr: #ff0070;
  --corner-color: #ff0070;
  --menu-txt-clr: #ff0070;
  --bg-clr: #000028;
  --padding-adaptive: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  --padding-adaptive-main: 0 clamp(10px, 0.0286rem + 2.5445vw, 20px);
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 50px;
  --font-family: "IBM Plex Mono", sans-serif;
  --column-adaptive: minmax(237px, calc(100% / 3.25));
  --rec: visible;
}
